body {
    color: #333333;
    /* padding-top: 62px; */
  }

 /* .div{
   padding: 10px !important;
   margin: 10px !important;
 } */
 .navbar{
   height: 50px;
 }
 .navlink-center{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 .btn-primary{
      background-color: #013220 !important;
      border-color: #013220;
      margin: 2px;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }

  .btn-primary:focus{
    box-shadow: #013220;
    outline: #013220;
  }

  .redacted {
    color: black;
    background-color: black;
    white-space:nowrap;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px dotted #555;
    background: -moz-linear-gradient(180deg, #000, #222);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
@media (min-width: 400px) {
    .container-home{
        max-width: 400px;
    }
}