body {
    color: #333333;
    padding-top: 62px;
    /* background-color: #121212; */
  }


.btn-primary{
      background-color: #013220 !important;
  }

.navlink-center{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 400px) {
    .container-home{
        max-width: 400px;
    }
}