{% extends "game/base.html" %} {% block content %}

<div class="width-400 mx-auto card" style="text-align: center;">
    <div>Hi {{ player_name }}, Lets Play!</div>
    <div><span>Game Code: </span><span style="font-weight: bold;">{{ game_code }}</span></div>
    
</div>

<div>
    <div class="width-400 mx-auto">

        <!-- testing tabs do not delete-->
        <!-- <ul class="nav nav-tabs justify-content-center">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div> -->
        <!-- end testing -->

        <!-- <div class="row mx-auto">
            {% for round in rounds %}
            <a class="btn btn-primary" type="button" href="../{{ round }}"
                style="padding-left: 4px; padding-right: 4px;">Round
                {{ round }}</a> {% endfor%}
        </div> -->
        <h4>Round {{ round }}</h4>
    </div>
    <div class="row">
        <div class="col-lg-3 card">
            <h2 style="text-align: center;"><u>Letter</u></h2>
            <div class="row">
                <div class="col text-center" style="font-size:75px !important;">{{ letter }}</div>
            </div>
            <div class="row mx-auto">
                {% if is_player_host%}
                <button id="startBtn" class="btn btn-primary" onclick="sendStartTimer()">
                    Start
                </button>
                <button class="btn btn-primary" href="">
                    Edit Settings
                </button> {% endif %}
                <div id="time" hidden>{{time}}</div>
            </div>
            <div class="row mx-auto">
                <div id="timer"></div>
            </div>
        </div>
        <div class="col-lg-8 card">
            <h4>Categories</h4>
            <form method="POST" id="answerForm">
                {% csrf_token %}
                <ol>
                    {% for category in categories%}

                    <div class="row" style="margin-bottom: 1px;">
                        <li></li>
                        <div id="category" class="redacted col-md-5 text-left">
                            {{category}}
                        </div>
                        <div class="col-md-7">
                            <input class="answer-input" type="text" name="answer{{ forloop.counter }}" 
                            {% if round_is_played %} readonly {% endif %}>
                        </div>
                    </div>

                    {% endfor %}
                </ol>
                <div class="col-md-12 text-right">
                    <!-- <button type="button" class="btn btn-primary" onclick="removeRedacted()">Start(remove redacted)</button> -->
                    <button type="submit" class="btn btn-primary" hidden>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var TIME_LIMIT = document.getElementById("time").innerHTML;
    const FULL_DASH_ARRAY = 283;
    const WARNING_THRESHOLD = TIME_LIMIT * .4;
    const ALERT_THRESHOLD = TIME_LIMIT * .15;

    const COLOR_CODES = {
        info: {
            color: "green"
        },
        warning: {
            color: "orange",
            threshold: WARNING_THRESHOLD
        },
        alert: {
            color: "red",
            threshold: ALERT_THRESHOLD
        }
    };


    let timePassed = 0;
    let timeLeft = TIME_LIMIT;
    let timerInterval = null;
    let remainingPathColor = COLOR_CODES.info.color;

    document.getElementById("timer").innerHTML = `
    <div class="base-timer">
      <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <g class="base-timer__circle">
          <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
          <path
            id="base-timer-path-remaining"
            stroke-dasharray="283"
            class="base-timer__path-remaining ${remainingPathColor}"
            d="
              M 50, 50
              m -45, 0
              a 45,45 0 1,0 90,0
              a 45,45 0 1,0 -90,0
            "
          ></path>
        </g>
      </svg>
      <span id="base-timer-label" class="base-timer__label">${formatTime(
        timeLeft
    )}</span>
    </div>
    `;

    // startTimer();

    function onTimesUp() {
        clearInterval(timerInterval);
        TIME_LIMIT = 60;
        document.getElementById("answerForm").submit();

    }

    function startTimer() {
        // document.getElementById("startBtn").disabled = true;
        timerInterval = setInterval(() => {
            timePassed = timePassed += 1;
            timeLeft = TIME_LIMIT - timePassed;
            document.getElementById("base-timer-label").innerHTML = formatTime(
                timeLeft
            );
            setCircleDasharray();
            setRemainingPathColor(timeLeft);

            if (timeLeft === 0) {
                onTimesUp();
            }
        }, 1000);
    }

    function formatTime(time) {
        const minutes = Math.floor(time / 60);
        let seconds = time % 60;

        if (seconds < 10) {
            seconds = `0${seconds}`;
        }

        return `${minutes}:${seconds}`;
    }

    function setRemainingPathColor(timeLeft) {
        const {
            alert,
            warning,
            info
        } = COLOR_CODES;
        if (timeLeft <= alert.threshold) {
            document
                .getElementById("base-timer-path-remaining")
                .classList.remove(warning.color);
            document
                .getElementById("base-timer-path-remaining")
                .classList.add(alert.color);
        } else if (timeLeft <= warning.threshold) {
            document
                .getElementById("base-timer-path-remaining")
                .classList.remove(info.color);
            document
                .getElementById("base-timer-path-remaining")
                .classList.add(warning.color);
        }
    }

    function calculateTimeFraction() {
        const rawTimeFraction = timeLeft / TIME_LIMIT;
        return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
    }

    function setCircleDasharray() {
        const circleDasharray = `${(
            calculateTimeFraction() * FULL_DASH_ARRAY
        ).toFixed(0)} 283`;
        document
            .getElementById("base-timer-path-remaining")
            .setAttribute("stroke-dasharray", circleDasharray);
    }
</script>

<script>
    var loc = window.location
    var startBtn = $('#startBtn')
    var wsStart = 'ws://'
    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }
    var endpoint = wsStart + loc.host + loc.pathname
    var socket = new WebSocket(endpoint)
    socket.onmessage = function (e) {
        //console.log('message', e)
        var response = JSON.parse(e.data)
        if (response.startTimer === true) {
            startTimer();
            removeRedacted();
        }
    }
    socket.onopen = function (e) {
        //console.log('open', e)
    }
    socket.onerror = function (e) {
        //console.log('error', e)
    }
    socket.onclose = function (e) {
        //console.log('close', e)
    }
    function sendStartTimer() {
        document.getElementById("startBtn").disabled = true;
        var request = {
            'start_timer': true
        }
        socket.send(JSON.stringify(request))
    }
</script>

{% endblock content%}