{% extends "game/base.html" %}
{% block content %}

<div class="container-home" style="border-style: solid; margin: auto;">
    <div>Lets Play</div>
    <div>Game Room Code: {{ game_code }}</div>
    <div>blue</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-3" style="border-style: solid; margin: 5px;">
            <h2 style="text-align: center;"><u>Letter</u></h2>
            <div class="row" style="text-align: center; font-size: 75px;">{{letter}}</div>
            <div class="row">
                <button class="btn btn-primary">
                    Restart Round?
                </button>
            </div>
            <div class="row">
                <button class="btn btn-primary">
                    Edit Settings
                </button>
            </div>
        </div>
        <div class="col-8" style="border-style: solid; margin: 5px;">
            <h4>Categories</h4>
            <form action="POST">
                <ol>
                    {% for category in categories%}
                    <li>
                        <div class="row">
                            <div class="col-5">
                                <div class="text-left">
                                    {{category}}
                                </div>
                            </div>
                            <div class="col-5">
                                <div>
                                    <input type="text" size="45">
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock content%}