{% extends "game/base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="width-400 card mx-auto" >
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="player_name">Player Name</label>
            <input type="text" class="form-control" id="player_name" name="player_name" maxlength="8">
        </div>
        <div class="fieldWrapper">
            <label for="game_code">Game Code</label>
            <input type="text" class="form-control" id="game_code" name="game_code" placeholder="Leave blank if creating new game">
        </div>

        <br>
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary" name="create">Create Game</button>
            <button type="submit" class="btn btn-primary" name="join">Join Game</button>
        </div>
    </form>
</div>

{% endblock content%}