{% extends "game/base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="card mx-auto" style="width: 400px;">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="player_name">Player Name</label>
            <input type="text" class="form-control" id="player_name" name="player_name">
        </div>
        <div class="fieldWrapper">
            <label for="game_code">Game Code</label>
            <input type="text" class="form-control" id="game_code" name="game_code" placeholder="Leave blank if creating new game">
        </div>

        <br>
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary" name="create">Create Game</button>
            <button type="submit" class="btn btn-primary" name="join">Join Game</button>
        </div>
    </form>
</div>
<!-- <div class="card">
    <h4>channels example</h4>
    <ul id="testList">

    </ul>
    <form action="" id="testForm">
        <label for="">test</label>
        <input type="text" name="test" id="test">
        <label for="testtwo">testtwo</label>
        <input type="text" name="testtwo" id="testtwo">
        <button type="submit" class="btn btn-primary">send socket msg</button>
    </form>

</div> -->
<script>
    // test script
    console.log(window.location)
    var loc = window.location
    var formData = $("#testForm")
    var msgInput = $("#test")
    var testHolder = $('#testList')

    var wsStart = 'ws://'
    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }
    var endpoint = wsStart + loc.host + loc.pathname
    var socket = new WebSocket(endpoint)

    socket.onmessage = function(e) {
        console.log("message", e)
        console.log(e.data)
        var listDataMsg = JSON.parse(e.data)
        testHolder.append("<li>" + listDataMsg.message + " via socket" + "</li>")
    }
    socket.onopen = function(e) {
        console.log("open", e)
        console.log(formData)
        formData.submit(function(event) {
            event.preventDefault()
            var msgText = msgInput.val()
            testHolder.append("<li>" + msgText + "</li>")
                // var formDataSerialized = formData.serialize()
            var finalData = {
                'message': msgText
            }

            console.log('trying to send to socket layer')
            socket.send(JSON.stringify(finalData))
            formData[0].reset()
        })
    }
    socket.onerror = function(e) {
        console.log("error", e)
    }
    socket.onclose = function(e) {
        console.log("close", e)
    }
</script>
{% endblock content%}