{% extends "game/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="width-400 mx-auto card" style="margin: auto;">
  <div class="width-400">
    <div class="row">
      <div class="col">
        Waiting for players...
        <ol>
          {% for player in players%}
          <li>{{ player.name }}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form method="POST">
          {% csrf_token %}
          <div class="col text-center">
            <button type="submit" class="btn btn-primary" name="start">Start Game</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- 
<script>
  $(document).ready(function () {
    setInterval(function () {
      window.location.reload(); 
    }, 2000);
  });

</script> -->
{% endblock content%}