{% extends "game/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="width-400 mx-auto card">
    <div class="width-400">
        <div class="row">
            <div class="col">
                Waiting for players <span id="wait">.</span>
                <ol id="playerList">
                    {% for player in players%}
                    <li>{{ player.name }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" id="startGameForm">
                    {% csrf_token %} {% if is_player_host%}
                    <div class="col text-center">
                        <button class="btn btn-primary" onclick="startGame()">Start Game</button>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var loc = window.location
    var formData = $("#startGameForm")
    var playerList = $('#playerList')

    var wsStart = 'ws://'
    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }
    var endpoint = wsStart + loc.host + loc.pathname
    var socket = new WebSocket(endpoint)

    socket.onmessage = function(e) {
        var response = JSON.parse(e.data)
        players = response.player_list
        if (response.start_game === true) {
            startGamePath = loc.pathname.replace('lobby', 'startgame')

            $.ajax({
                url: '../../..' + startGamePath
            })

            newPath = loc.pathname.replace('lobby', 'board')
            window.location.href = '../../..' + newPath + '1';
        }

        playerList.empty()
        players.forEach(element => {
            playerList.append('<li>' + element + '</li>')

        });
    }
    socket.onopen = function(e) {
        // formData.submit(function(event) {
        //     event.preventDefault()

        //     var request = {
        //         'start_game': true
        //     }
        //     socket.send(JSON.stringify(request))
        // })
    }
    socket.onerror = function(e) {
        console.log('error', e)
    }
    socket.onclose = function(e) {
        console.log('close', e)
    }

    function startGame() {
        var request = {
            'start_game': true
        }
        socket.send(JSON.stringify(request))
    }
</script>
<!-- 
<script>
  $(document).ready(function () {
    setInterval(function () {
      window.location.reload(); 
    }, 2000);
  });

</script> -->

<script>
    var dots = window.setInterval(function() {
        var wait = document.getElementById("wait");
        if (wait.innerHTML.length > 3)
            wait.innerHTML = "";
        else
            wait.innerHTML += ".";
    }, 100);
</script>
{% endblock content%}