{% extends "game/base.html" %}
{% block content %}

<div class="container-home card" style="border-style: solid; margin: auto; margin-top: 5px;">
    <div>Hi {{ player_name }}, Lets Play</div>
    <div>Game Room Code: {{ game_code }}</div>
</div>

<div class="container">
    <div class="container-home" style=" margin: auto; margin-top: 5px;">
        <div class="row">Round:
            {% for round in rounds %}
            <a href="./{{ round }}" style="padding-left: 4px; padding-right: 4px;">{{ round }}</a>
            {% endfor%}
        </div>
    </div>
    <div class="row card container-home" style="margin:auto; border-style: solid; height: 200px;">
        <div class="container">
            <div class="row">Pick incorrect or similar answers</div>
            <div class="row">
                <form method="POST">
                    {% for answer in answers%}
                    <div>{{ answer }}</div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
</div>


{% endblock content%}